<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController" class="margin-top-10">
	<!-- BEGIN PAGE CONTENT INNER -->
	<div class="row margin-top-10">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2">
				<div class="display">
					<div class="number">
						<h3 class="font-green-sharp">87 800<small class="font-green-sharp">NOK</small></h3>
						<small>MONTHLY PROFIT</small>
					</div>
					<div class="icon">
						<i class="icon-pie-chart"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
						<span class="sr-only">76% progress</span>
						</span>
					</div>
					<div class="status">
						<div class="status-title">
							 progress
						</div>
						<div class="status-number">
							 76%
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2">
				<div class="display">
					<div class="number">
						<h3 class="font-red-haze">12</h3>
						<small>ARTISTS</small>
					</div>
					<div class="icon">
						<i class="icon-user"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
						<span class="sr-only">85% capacity</span>
						</span>
					</div>
					<div class="status">
						<div class="status-title">
							 capacity
						</div>
						<div class="status-number">
							 85%
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2">
				<div class="display">
					<div class="number">
						<h3 class="font-blue-sharp">65</h3>
						<small>UPCOMING CONCERTS</small>
					</div>
					<div class="icon">
						<i class="icon-microphone"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
						<span class="sr-only">45% capacity</span>
						</span>
					</div>
					<div class="status">
						<div class="status-title">
							 capacity
						</div>
						<div class="status-number">
							 45%
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2">
				<div class="display">
					<div class="number">
						<h3 class="font-purple-soft">736</h3>
						<small>PREVIOUS CONCERTS</small>
					</div>
					<div class="icon">
						<i class="icon-clock"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
						<span class="sr-only">56% pensjon</span>
						</span>
					</div>
					<div class="status">
						<div class="status-title">
							 pensjon
						</div>
						<div class="status-number">
							 57%
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart theme-font-color hide"></i>
						<span class="caption-subject theme-font-color bold uppercase">Økonomisk Rapport</span>
						<span class="caption-helper hide">weekly stats...</span>
					</div>
					<div class="actions">
						<div class="btn-group btn-group-devided" data-toggle="buttons">
							<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
							<input type="radio" name="options" class="toggle" id="option1">Dag</label>
							<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
							<input type="radio" name="options" class="toggle" id="option2">Uke</label>
							<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
							<input type="radio" name="options" class="toggle" id="option2">Måned</label>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row list-separated">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="font-grey-mint font-sm">
								 Total
							</div>
							<div class="uppercase font-hg font-red-flamingo">
								 13,760 <span class="font-lg font-grey-mint">kr</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="font-grey-mint font-sm">
								 Income
							</div>
							<div class="uppercase font-hg theme-font-color">
								 4,760 <span class="font-lg font-grey-mint">kr</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="font-grey-mint font-sm">
								 Expenses
							</div>
							<div class="uppercase font-hg font-purple">
								 11,760 <span class="font-lg font-grey-mint">kr</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="font-grey-mint font-sm">
								 Growth
							</div>
							<div class="uppercase font-hg font-blue-sharp">
								 9,760 <span class="font-lg font-grey-mint">kr</span>
							</div>
						</div>
					</div>
					<ul class="list-separated list-inline-xs hide">
						<li>
							<div class="font-grey-mint font-sm">
								 Totale
							</div>
							<div class="uppercase font-hg font-red-flamingo">
								 13,760 <span class="font-lg font-grey-mint">kr</span>
							</div>
						</li>
						<li>
						</li>
						<li class="border">
							<div class="font-grey-mint font-sm">
								 Income
							</div>
							<div class="uppercase font-hg theme-font-color">
								 4,760 <span class="font-lg font-grey-mint">kr</span>
							</div>
						</li>
						<li class="divider">
						</li>
						<li>
							<div class="font-grey-mint font-sm">
								 Expenses
							</div>
							<div class="uppercase font-hg font-purple">
								 11,760 <span class="font-lg font-grey-mint">kr</span>
							</div>
						</li>
						<li class="divider">
						</li>
						<li>
							<div class="font-grey-mint font-sm">
								 Growth
							</div>
							<div class="uppercase font-hg font-blue-sharp">
								 9,760 <span class="font-lg font-grey-mint">kr</span>
							</div>
						</li>
					</ul>
					<div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 260px">
					</div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
		<div class="col-md-6 col-sm-6">
			<!-- BEGIN REGIONAL STATS PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart theme-font-color hide"></i>
						<span class="caption-subject theme-font-color bold uppercase">Upcoming Concerts</span>
					</div>
				</div>
				<div class="portlet box green">
					<div class="portlet-body flip-scroll">
						<table class="table table-bordered table-striped table-condensed flip-content">
							<thead class="flip-content">
								<tr>
									<th width="20%">
										 Dato
									</th>
									<th>
										 Artist
									</th>
									<th>
										 Land
									</th>
									<th>
										 By
									</th>
									<th>
										 Venue
									</th>
									<th>
										 Status
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										 5. Juni
									</td>
									<td>
										 Atlanter
									</td>
									<td>
										 Norge
									</td>
									<td>
										 Oslo
									</td>
									<td>
										 Blå
									</td>
									<td>
										 Bekreftet
									</td>
								</tr>
								<tr>
									<td>
										 5. Juni
									</td>
									<td>
										 Mari Boine
									</td>
									<td>
										 Norge
									</td>
									<td>
										 Oslo
									</td>
									<td>
										 Sentrum Scene
									</td>
									<td>
										 Bekreftet
									</td>
								</tr>
								<tr>
									<td>
										 6. Juni
									</td>
									<td>
										 Hanne Kolstø
									</td>
									<td>
										 Norge
									</td>
									<td>
										 Volda
									</td>
									<td>
										 Rokken
									</td>
									<td>
										 Bud
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- END SAMPLE TABLE PORTLET-->
			</div>
			<!-- END REGIONAL STATS PORTLET-->
		</div>
	</div>
	<!-- END PAGE CONTENT INNER -->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	Index.init();    
	Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->