<!-- BEGIN MAIN CONTENT -->
<div ng-controller="MyWorksheetController" class="margin-top-10">
<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN SAMPLE TABLE PORTLET-->
			<div class="portlet box green">
				<div class="portlet-body flip-scroll">
					<table class="table table-bordered table-striped table-condensed flip-content">
					<thead class="flip-content">
					<tr>
						<th width="20%">
							 Dato
						</th>
						<th>
							 Artist
						</th>
						<th>
							 Land
						</th>
						<th>
							 By
						</th>
						<th>
							 Venue
						</th>
						<th>
							 Status
						</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>
							 5. Juni
						</td>
						<td>
							 Atlanter
						</td>
						<td>
							 Norge
						</td>
						<td>
							 Oslo
						</td>
						<td>
							 Blå
						</td>
						<td>
							 Bekreftet
						</td>
					</tr>
					<tr>
						<td>
							 5. Juni
						</td>
						<td>
							 Mari Boine
						</td>
						<td>
							 Norge
						</td>
						<td>
							 Oslo
						</td>
						<td>
							 Sentrum Scene
						</td>
						<td>
							 Bekreftet
						</td>
					</tr>
					<tr>
						<td>
							 6. Juni
						</td>
						<td>
							 Hanne Kolstø
						</td>
						<td>
							 Norge
						</td>
						<td>
							 Volda
						</td>
						<td>
							 Rokken
						</td>
						<td>
							 Bud
						</td>
					</tr>
					</tbody>
					</table>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->
		</div>
	</div>
<!-- END PAGE CONTENT-->
<!-- BEGIN MAIN JS & CSS -->
<script>
	// TableAjax.init();
</script>
<!-- BEGIN MAIN JS & CSS -->